<div class="card">
    <div class="card-header">
        <strong class="card-title">Nouveau</strong>
    </div>
    <div class="card-body">
        <form class="form-inner" method="post" [formGroup]="scheduleForm" accept-charset="utf-8">


            <div class="form-group row">
                <label for="doctor_id" class="col-xs-3 col-form-label">Doctor Name</label>
                <div class="col-xs-9">
                    <select [ngClass]="{ 'is-invalid': submitted && f.doctor_id.errors }" formControlName="doctor_id"
                        name="doctor_id" class="form-control select2-hidden-accessible" id="doctor_id" tabindex="-1"
                        aria-hidden="true">
                        <option value="" selected="selected">Select Doctor</option>
                        <option value="3">Willam Carlos</option>
                        <option value="4">Adward Chapman</option>


                    </select>
                    <div *ngIf="submitted && f.doctor_id.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.doctor_id.errors.required">
                            {{msg.validationMessage.doctor_id}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="available_days" class="col-xs-3 col-form-label">Available Days</label>
                <div class="col-xs-9">
                    <select name="available_days" class="form-control select2-hidden-accessible" id="available_days"
                        tabindex="-1" aria-hidden="true">
                        <option value="" selected="selected">Select Option</option>
                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select>
                    <div *ngIf="submitted && f.available_days.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.available_days.errors.required">
                            {{msg.validationMessage.available_days}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-3 col-form-label">Available Time </label>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-6">
                            <input name="start_time" class="timepicker form-control hasDatepicker" type="text"
                                [ngClass]="{ 'is-invalid': submitted && f.start_time.errors }"
                                formControlName="start_time" placeholder="Start Time" value="" id="dp1608285001896">

                            <div *ngIf="submitted && f.start_time.errors" class="alert alert-danger">
                                <div *ngIf="submitted && f.start_time.errors.required">
                                    {{msg.validationMessage.start_time}}</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <input name="end_time" class="timepicker form-control hasDatepicker" type="text"
                                [ngClass]="{ 'is-invalid': submitted && f.end_time.errors }" formControlName="end_time"
                                placeholder="End Time" value="" id="dp1608285001897">

                            <div *ngIf="submitted && f.end_time.errors" class="alert alert-danger">
                                <div *ngIf="submitted && f.end_time.errors.required">
                                    {{msg.validationMessage.end_time}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="per_patient_time" class="col-xs-3 col-form-label">Per Patient Time</label>
                <div class="col-xs-9">
                    <input class="timepicker-hour-min-only form-control hasDatepicker" name="per_patient_time"
                        [ngClass]="{ 'is-invalid': submitted && f.per_patient_time.errors }"
                        formControlName="per_patient_time" type="text" placeholder="Per Patient Time"
                        id="per_patient_time" value="">

                    <div *ngIf="submitted && f.per_patient_time.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.per_patient_time.errors.required">
                            {{msg.validationMessage.per_patient_time}}</div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label for="serial_visibility_type" class="col-xs-3 col-form-label">Serial Visibility</label>
                <div class="col-xs-9">
                    <select name="serial_visibility_type" class="form-control select2-hidden-accessible"
                        [ngClass]="{ 'is-invalid': submitted && f.serial_visibility_type.errors }"
                        formControlName="serial_visibility_type" id="serial_visibility_type" tabindex="-1"
                        aria-hidden="true">
                        <option value="1">Sequential</option>
                        <option value="2">Timestamp</option>
                    </select>

                    <div *ngIf="submitted && f.serial_visibility_type.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.serial_visibility_type.errors.required">
                            {{msg.validationMessage.serial_visibility_type}}</div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-3">Status</label>
                <div class="col-xs-9">
                    <div class="form-check">
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1" checked="&quot;checked&quot;">Active </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="0">Inactive </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="  ">
                    <div class="btn btn-primarys">
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <div class="or"></div>
                        <button (click)="add()" class="btn btn-success">Sauvegarder</button>
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>