<div class="card">
    <div class="card-header">
        <strong class="card-title">Nouveau</strong>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" method="post" accept-charset="utf-8">



            <div class="form-group row">
                <label for="insurance_name" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Nom de l'assurance </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-xs-9">
                    <input name="insurance_name" [(ngModel)]="model.insurance_name" type="text" class="form-control"
                        id="insurance_name" placeholder="Nom de l'assurance" value="">


                </div>
            </div>



            <div class="form-group row">
                <label for="service_tax" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Taxe de service(%)</font>
                    </font>
                </label>
                <div class="col-xs-9">
                    <input [(ngModel)]="model.service_tax" name="service_tax" type="number" class="form-control"
                        id="service_tax" placeholder="Taxe de service" value="">


                </div>
            </div>



            <div class="form-group row">
                <label for="discount" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Remise(%)</font>
                    </font>
                </label>
                <div class="col-xs-9">
                    <input name="discount" [(ngModel)]="model.discount" type="number" class="form-control" id="discount"
                        placeholder="Remise" value="">


                </div>
            </div>



            <div class="form-group row">
                <label for="remark" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Remarque</font>
                    </font>
                </label>
                <div class="col-xs-9">
                    <textarea name="remark" [(ngModel)]="model.remark" class="form-control" placeholder="Remarque"
                        rows="7"></textarea>


                </div>
            </div>



            <div class="form-group row">
                <label for="insurance_no" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">N ° d'assurance</font>
                    </font>
                </label>
                <div class="col-xs-9">
                    <input name="insurance_no" [(ngModel)]="model.insurance_no" type="text" class="form-control"
                        id="insurance_no" placeholder="N ° d'assurance" value="">


                </div>
            </div>


            <div class="form-group row">
                <label for="insurance_code" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Code des assurances</font>
                    </font>
                </label>
                <div class="col-xs-9">
                    <input name="insurance_code" [(ngModel)]="model.insurance_code" type="text" class="form-control"
                        id="insurance_code" placeholder="Code des assurances" value="">


                </div>
            </div>


            <div class="form-group row">
                <label for="disease_charge" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Charge de maladie</font>
                    </font>
                </label>
                <div class="col-xs-9" id="disease_charge">
                    <div class="row">
                        <div class="col-xs-4">
                            <input name="disease_name" [(ngModel)]="model.disease_name" type="text" class="form-control"
                                placeholder="Nom de la maladie" value="">
                        </div>
                        <div class="col-xs-4">
                            <input name="disease_charge" [(ngModel)]="model.disease_charge" type="number"
                                class="form-control" placeholder="Charge de maladie" value="">
                        </div>
                        <div class="col-xs-4">
                            <div class="btn-group">
                                <button type="button" class="btn  btn-info add-disease">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">+</font>
                                    </font>
                                </button>
                                <button type="button" class="btn  btn-danger remove-disease">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">-</font>
                                    </font>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="hospital_rate" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Tarif hospitalier</font>
                    </font>
                </label>
                <div class="col-xs-9">
                    <input name="hospital_rate" [(ngModel)]="model.hospital_rate" type="number" class="form-control"
                        id="hospital_rate" placeholder="Tarif hospitalier" value="">


                </div>
            </div>


            <div class="form-group row">
                <label for="insurance_rate" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Taux d'assurance</font>
                    </font>
                </label>
                <div class="col-xs-9">
                    <input name="insurance_rate" [(ngModel)]="model.insurance_rate" type="number" class="form-control"
                        id="insurance_rate" placeholder="Taux d'assurance" value="">


                </div>
            </div>

            <div class="form-group row">
                <label for="total" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Total</font>
                    </font>
                </label>
                <div class="col-xs-9">
                    <input name="total" type="number" class="form-control" id="total" placeholder="Total" value="">


                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Statut </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-xs-9">
                    <div class="form-check">
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1" checked="checked">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">actif </font>
                            </font>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Inactif </font>
                            </font>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="  ">
                    <div class="btn btn-primarys">

                        <div class="or"></div>
                        <button (click)="edit()" class="btn btn-success">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sauvegarder</font>
                            </font>
                        </button>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>