<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Assurances</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Mail Driver</th>
                        <th>mail Host</th>
                        <th>Mail Port</th>
                        <th>Mail Username</th>
                        <th>Mail password</th>
                        <th>Mail enctyption</th>
                        <th>Mail From</th>
                        <th>Mail From Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{emailConfiguration.mail_driver}}</td>
                        <td>{{emailConfiguration.email_host}}</td>
                        <td>{{emailConfiguration.mail_port}}</td>
                        <td>{{emailConfiguration.mail_username}}</td>
                        <td>{{emailConfiguration.mail_password}}</td>
                        <td>{{emailConfiguration.mail_encryption}}</td>
                        <td>{{emailConfiguration.mail_from}}</td>
                        <td>{{emailConfiguration.mail_from_name}}</td>
                        <td>
                            <button title="career devis" data-togglee="tooltip" type="button" data-toggle="modal"
                                data-target="#editClient" class="btn btn-success btn-sm"><i
                                    class="fas fa-file-invoice"></i></button>

                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Mail Driver</th>
                        <th>mail Host</th>
                        <th>Mail Port</th>
                        <th>Mail Username</th>
                        <th>Mail password</th>
                        <th>Mail enctyption</th>
                        <th>Mail From</th>
                        <th>Mail From Name</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>

            </table>

        </div>
    </div>
</div>