<link rel="stylesheet" href="LIFECARE-FRONTEND-ADMIN-master\src\app\view-doctor\view-doctor.component.css">
<div class="panel-body">
    <div class="row">
        <div class="col-sm-12" align="center">
            <h1>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Informations sur le médecin</font>
                </font>
            </h1>
            <br>
        </div>
        <div class="col-md-3 col-lg-3 " align="center">
            <img alt="Image" src="" class="img-thumbnail img-responsive img-hw-200">
            <h3>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Juan Juan
                    </font>
                </font>
            </h3>
        </div>
        <div class="col-md-7 col-lg-7 ">
            <dl class="dl-horizontal">
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Adresse e-mail</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">juan@juan.com</font>
                    </font>
                </dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">La désignation</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">tester</font>
                    </font>
                </dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">département</font>
                    </font>
                </dt>
                <dd></dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Adresse</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">ds</font>
                    </font>
                </dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Pas de téléphone</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">300</font>
                    </font>
                </dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Mobile Non</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">300</font>
                    </font>
                </dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Courte biographie</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">&lt;p&gt; ada ad &lt;/p&gt;</font>
                    </font>
                </dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Spécialiste</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">asdas</font>
                    </font>
                </dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Date de naissance</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">07/01/2021</font>
                    </font>
                </dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Sexe</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Masculin</font>
                    </font>
                </dd>
                <dt></dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">&lt;p&gt; sdfsd sdfsdf &lt;/p&gt;</font>
                    </font>
                </dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">créer un rendez-vous</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">07/01/2021</font>
                    </font>
                </dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Date de mise à jour</font>
                    </font>
                </dt>
                <dd></dd>
                <dt>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Statut</font>
                    </font>
                </dt>
                <dd>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">actif</font>
                    </font>
                </dd>
            </dl>
        </div>
    </div>
</div>