<div class="card">
    <div class="card-header">
        <strong class="card-title">Nouveau</strong>
    </div>
    <div class="card-body">
        <form class="form-inner" [formGroup]="paymentForm" method="post" accept-charset="utf-8">

            <div class="form-group row">
                <label for="date" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Date </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-xs-9">
                    <input name="date" type="text" class="form-control datepicker hasDatepicker" id="date"
                        placeholder="Date" value="2020-12-18">
                </div>
            </div>



            <div class="form-group row">
                <label for="account_name" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Nom du compte </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-xs-9">
                    <select name="account_id" class="form-control select2-hidden-accessible" id="account_name"
                        tabindex="-1" aria-hidden="true">
                        <option value="" selected="selected">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionnez une option</font>
                            </font>
                        </option>
                        <option value="1">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Salaire des employés</font>
                            </font>
                        </option>
                        <option value="3">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Location de bureau</font>
                            </font>
                        </option>
                        <option value="4">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Dépenses</font>
                            </font>
                        </option>

                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="pay_to" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Payer à </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-xs-9">
                    <input name="pay_to" type="text" class="form-control" id="pay_to" placeholder="Payer pour" value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">La description</font>
                    </font>
                </label>
                <div class="col-xs-9">
                    <textarea name="description" class="form-control" placeholder="La description" rows="7"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="amount" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Montant </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-xs-9">
                    <input name="amount" type="number" class="form-control" id="amount" placeholder="Montant" value="">
                </div>
            </div>

            <!--Radio-->
            <div class="form-group row">
                <label class="col-xs-3">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Statut</font>
                    </font>
                </label>
                <div class="col-xs-9">
                    <div class="form-check">
                        <label class="radio-inline"><input type="radio" name="status" value="1" checked="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">actif</font>
                            </font>
                        </label>
                        <label class="radio-inline"><input type="radio" name="status" value="0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Inactif</font>
                            </font>
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="  ">
                    <div class="btn btn-primarys">
                        <button type="reset" class="btn btn-primary">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Réinitialiser</font>
                            </font>
                        </button>
                        <div class="or"></div>
                        <button (click)="add()" class="btn btn-success">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sauvegarder</font>
                            </font>
                        </button>
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>