<!-- Page Wrapper -->
<div id="wrapper" *ngIf="!hasRoute('login')">

  <app-navigation></app-navigation>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <form class="form-inline">
                  <button id="sidebarToggleTop" class="button-62">
                      <i class="fa fa-bars"></i>
                  </button>
              </form>

              <!-- Topbar Search -->
              <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Rechercher ..."
                          aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                          <button class="button-62" type="button">
                              <i class="fas fa-search fa-sm"></i>
                          </button>
                      </div>
                  </div>
              </form>

              <app-header></app-header>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <router-outlet></router-outlet>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"></a>
<i class="fas fa-angle-up"></i>
<div *ngIf="hasRoute('login')">
<div class="container mt--8 pb-5" >
  <div class="row justify-content-center" >
      <div class="col-lg-4 col-md-7">
          <div class="card border-2 mb-1">
              <div class="card-header bg-transparent pb-5">
                  <div class="text-muted text-center mt-2 mb-3"></div>
                  <br><br>
                  <div class="btn-wrapper text-center">
                      <img src="assets/img/logo.png"  width="300" height="200" style="max-height: 200px;" class="navbar-brand-img" alt="...">
                  </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">

                  </div>
                  <form>
                  <div class="form-group mb-3">
                      <div class="input-group input-group-merge input-group-alternative">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input class="form-control" placeholder="Email" type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" value="admin@admin.com">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-lock"></i></span>
                          </div>
                          <input class="form-control" placeholder="Password" type="password"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  >
                      </div>
                  </div>

                  <div class="text-center">
                      <button routerLink="/dashboard" type="submit"
                          class="button-62">Connexion</button>
                  </div>
                </form>
              </div>

          </div>

      </div>

  </div>
</div>
</div>

