<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Système</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Devise</th>
                        <th>Enregistement</th>
                        <th>bas de page</th>
                        <th>Backend URL</th>
                        <th>port</th>
                        <th>Backend Technology</th>
                        <th>langue</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{systemeConfiguration.currency}}</td>
                        <td>{{systemeConfiguration.user_register}}</td>
                        <td>{{systemeConfiguration.footer}}</td>
                        <td>{{systemeConfiguration.url}}</td>
                        <td>{{systemeConfiguration.technology}}</td>
                        <td>{{systemeConfiguration.port}}</td>
                        <td>{{systemeConfiguration.language}}</td>
                        <td>
                            <button title="career devis" data-togglee="tooltip" type="button" data-toggle="modal"
                                data-target="#editClient" class="btn btn-success btn-sm"><i
                                    class="fas fa-file-invoice"></i></button>

                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Devise</th>
                        <th>Enregistement</th>
                        <th>bas de page</th>
                        <th>Backend URL</th>
                        <th>port</th>
                        <th>Backend Technology</th>
                        <th>langue</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>