<div class="card">
    <div class="card-header">
        <strong class="card-title">Nouveau</strong>
    </div>
    <div class="card-body">
        <form class="form-inner" method="post" [formGroup]="serviceForm" accept-charset="utf-8">




            <div class="form-group row">
                <label for="name" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Nom du service </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="name" type="text" class="form-control" id="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name"
                        placeholder="Nom du service" value="">
                    <div *ngIf="submitted && f.name.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.name.errors.required">
                            {{msg.validationMessage.name}}</div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="description" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">La description</font>
                    </font>
                </label>
                <div class="col-md-6">
                    <textarea name="description" class="form-control" placeholder="La description"
                        [ngClass]="{ 'is-invalid': submitted && f.description.errors }" formControlName="description"
                        rows="7"></textarea>
                    <div *ngIf="submitted && f.description.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.description.errors.required">
                            {{msg.validationMessage.description}}</div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="quantity" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Quantité </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="quantity" type="number" class="form-control" id="quantity"
                        [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" formControlName="quantity"
                        placeholder="Quantité" value="">
                    <div *ngIf="submitted && f.quantity.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.quantity.errors.required">
                            {{msg.validationMessage.quantity}}</div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="amount" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Tarif </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="amount" type="number" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" formControlName="amount" id="amount"
                        placeholder="Montant" value="">
                    <div *ngIf="submitted && f.amount.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.amount.errors.required">
                            {{msg.validationMessage.amount}}</div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-xs-3">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Statut</font>
                    </font>
                </label>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="radio-inline"><input formControlName="status" type="radio" name="status" value="1"
                                checked="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">actif</font>
                            </font>
                        </label>
                        <label class="radio-inline"><input formControlName="status" type="radio" name="status"
                                value="0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Inactif</font>
                            </font>
                        </label>
                    </div>
                </div>
            </div>


            <div>
                <div class="col-md-8">

                    <button type="reset" class="btn btn-primary">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Réinitialiser</font>
                        </font>
                    </button>

                    <button (click)="add()" class="btn btn-success">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Sauvegarder</font>
                        </font>
                    </button>

                </div>
            </div>



        </form>



    </div>
</div>