<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Morts</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead> <tr>

                    <th>Titre</th>
                    <th>Description</th>
                    <th>Medecin</th>
                    <th>Patient</th>
                    <th>Statut</th>
                    <th>Actions</th>


                </tr>
            </thead>
            <tfoot>
                <tr>
                      <th>Titre</th>
                    <th>Description</th>
                    <th>Medecin</th>
                    <th>Patient</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>

                    <td>Manar</td>
                    <td>fareh</td>
                     <td>manar</td>
                     <td>223123</td>
                    <td>223123</td>
                    <td><button disabled type="button" class="btn btn-primary btn-sm">voir</button>
                        <button disabled type="button" class="btn btn-warning btn-sm">editer</button>
                        <button disabled type="button" class="btn btn-danger btn-sm">Supprimer</button></td>
                </tr>


            </tbody>
            </table>
            <button  type="button" class="btn btn-success btn-sm">Ajouter</button>

        </div>
    </div>
</div>
