<div class="panel-body">
    <div class="row">
        <div class="col-sm-12">

            <table class="table">
                <thead>
                    <tr class="bg-primary">
                        <td>
                            <strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">ID patient</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> : PG65PIPN,
                                </font>
                            </font><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">ID d'application</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> : A5UV3PNY</font>
                            </font>
                        </td>
                        <td class="text-right"><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Date</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> : 01/10/2021</font>
                            </font>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="50%">
                            <ul class="list-unstyled">
                                <li><strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">John Doye</font>
                                        </font>
                                    </strong></li>
                                <li>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Spécialiste des yeux</font>
                                    </font>
                                </li>
                                <li><strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Néphrologie</font>
                                        </font>
                                    </strong></li>
                                <li>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">MBBS</font>
                                    </font>
                                </li>
                                <li>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">B25, Londres</font>
                                    </font>
                                </li>
                            </ul>
                        </td>
                        <td width="50%" class="text-right">
                            <ul class="list-unstyled">
                                <li><strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">LifeCare</font>
                                        </font>
                                    </strong></li>
                                <li>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"></font>
                                    </font>
                                </li>
                                <li>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">admin@gmail.com</font>
                                    </font>
                                </li>
                                <li>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">1922296392</font>
                                    </font>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="bg-primary">
                        <td colspan="2">
                            <strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nom du patient</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> : shahed khondaer,
                                </font>
                            </font><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">âge</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> : 30 ans 0 mois,
                                </font>
                            </font><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">sexe</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> : homme,
                                </font>
                            </font><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">poids</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> : 140,
                                </font>
                            </font><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">BP</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> : 80,
                                </font>
                            </font><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">nom de l'assurance</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> :</font>
                            </font>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="chief_complain">

                <p>
                    <strong>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Plainte en chef</font>
                        </font>
                    </strong>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> : plainte de test</font>
                    </font>
                </p>

                <p>
                    <strong>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Notes aux patients</font>
                        </font>
                    </strong>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> : rapopo</font>
                    </font>
                </p>
            </div>
            <div class="prescript_medicine">

                <table class="table table-striped">
                    <thead>
                        <tr class="bg-info header-2">
                            <th>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nom du médicament</font>
                                </font>
                            </th>
                            <th width="80">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Type</font>
                                </font>
                            </th>
                            <th width="80">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Journées</font>
                                </font>
                            </th>
                            <th>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Instruction</font>
                                </font>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">paracétamol</font>
                                </font>
                            </td>
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">D'accord</font>
                                </font>
                            </td>
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">2</font>
                                </font>
                            </td>
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">minum ya jgn tidak12</font>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">panadol</font>
                                </font>
                            </td>
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">D'accord</font>
                                </font>
                            </td>
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">2</font>
                                </font>
                            </td>
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">diminum</font>
                                </font>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                        <tr class="bg-info header-2">
                            <th>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Diagnostic</font>
                                </font>
                            </th>
                            <th>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Instruction</font>
                                </font>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">tidak ada apa apa</font>
                                </font>
                            </td>
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">minum dan tidur yg cukup</font>
                                </font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <table class="table">
                <thead>
                    <tr>
                        <th class="pres-w-50"></th>
                        <td class="pres-w-50">
                            <div class="pres-signature"></div>
                            <i>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Signature</font>
                                </font>
                            </i>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>