<div class="card">
    <div class="card-header">
        <strong class="card-title">Nouveau</strong>
    </div>
    <div class="card-body">
        <form class="form-inner" enctype="multipart/form-data" method="post" [formGroup]="patientForm"
            accept-charset="utf-8">


            <div class="form-group row">
                <label for="firstname" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Prénom </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="firstname" type="text" class="form-control" id="firstname"
                        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" formControlName="firstname"
                        placeholder="Prénom" value="">

                    <div *ngIf="submitted && f.firstname.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.firstname.errors.required">
                            {{msg.validationMessage.firstname}}</div>
                    </div>

                </div>
            </div>


            <div class="form-group row">
                <label for="lastname" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Nom de famille </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="lastname" type="text" class="form-control" id="lastname"
                        [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" formControlName="lastname"
                        placeholder="Nom de famille" value="">

                    <div *ngIf="submitted && f.lastname.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.lastname.errors.required">
                            {{msg.validationMessage.lastname}}</div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="email" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Adresse e-mail </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="email" type="email" class="form-control" id="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email"
                        placeholder="Adresse e-mail" value="">

                    <div *ngIf="submitted && f.email.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.email.errors.required">
                            {{msg.validationMessage.email}}</div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="password" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Mot de passe </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="password" type="password" class="form-control" id="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password"
                        placeholder="Mot de passe">
                    <div *ngIf="submitted && f.password.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.password.errors.required">
                            {{msg.validationMessage.password}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="phone" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Téléphone</font>
                    </font>
                </label>
                <div class="col-md-6">
                    <input name="phone" class="form-control" type="number" placeholder="Pas de téléphone"
                        [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" formControlName="phone" id="phone"
                        value="">
                    <div *ngIf="submitted && f.phone.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.phone.errors.required">
                            {{msg.validationMessage.phone}}</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="blood_group" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Groupe sanguin</font>
                    </font>
                </label>
                <div class="col-md-6">
                    <select name="blood_group" class="form-control select2-hidden-accessible" id="blood_group"
                        [ngClass]="{ 'is-invalid': submitted && f.blood_group.errors }" formControlName="blood_group"
                        tabindex="-1" aria-hidden="true">

                        <option value="A+">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">A +</font>
                            </font>
                        </option>
                        <option value="A-">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">A-</font>
                            </font>
                        </option>
                        <option value="B+">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">B +</font>
                            </font>
                        </option>
                        <option value="B-">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">B-</font>
                            </font>
                        </option>
                        <option value="O+">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">O +</font>
                            </font>
                        </option>
                        <option value="O-">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">O-</font>
                            </font>
                        </option>
                        <option value="AB+">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">AB +</font>
                            </font>
                        </option>
                        <option value="AB-">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">UN B-</font>
                            </font>
                        </option>
                    </select>

                    <div *ngIf="submitted && f.blood_group.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.blood_group.errors.required">
                            {{msg.validationMessage.blood_group}}</div>
                    </div>
                </div>
            </div>



            <div class="form-group row">
                <label class="col-xs-3">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Sexe </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <div class="form-check">
                        <label class="radio-inline">
                            <input formControlName="sex" type="radio" name="sex" value="Male"
                                checked="&quot;checked&quot;">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Masculin </font>
                            </font>
                        </label>
                        <label class="radio-inline">
                            <input formControlName="sex" type="radio" name="sex" value="Female">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Femme </font>
                            </font>
                        </label>

                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="date_of_birth" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Date de naissance </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <input name="date_of_birth" class="dropdown-month-years form-control hasDatepicker" type="text"
                        [ngClass]="{ 'is-invalid': submitted && f.date_of_birth.errors }"
                        formControlName="date_of_birth" placeholder="Date de naissance" id="date_of_birth"
                        value="2021-01-19">

                    <div *ngIf="submitted && f.date_of_birth.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.date_of_birth.errors.required">
                            {{msg.validationMessage.date_of_birth}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="picture" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Image</font>
                    </font>
                </label>
                <div class="col-md-6">
                    <input type="file" name="picture" id="picture" value="">
                    <input type="hidden" name="old_picture" value="">
                </div>
            </div>


            <div class="form-group row">
                <label for="address" class="col-xs-3 col-form-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Adresse </font>
                    </font><i class="text-danger">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">*</font>
                        </font>
                    </i>
                </label>
                <div class="col-md-6">
                    <textarea name="address" class="form-control" placeholder="Adresse" maxlength="140"
                        [ngClass]="{ 'is-invalid': submitted && f.address.errors }" formControlName="address"
                        rows="7"></textarea>

                    <div *ngIf="submitted && f.address.errors" class="alert alert-danger">
                        <div *ngIf="submitted && f.address.errors.required">
                            {{msg.validationMessage.address}}</div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <button type="reset" class="button-43">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Réinitialiser</font>
                            </font>
                        </button>

                        <button (click)="add()" class="button-40">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sauvegarder</font>
                            </font>
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
